bcrypt==4.2.1
Flask==3.1.0
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-PyMongo==3.0.1
opencv-python==4.11.0.86
pillow==11.0.0
PyJWT==2.10.1
pymongo==4.11.1
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.0
scipy==1.14.1
stack-data==0.6.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0